.profilna{
    width: 114px;
    padding: 16px;
    border-radius: 25px;
}

.profile{
    display: flex;
    justify-content: left;
}

.text-holder {
    justify-items: right;
    flex-direction: column;
    display: flex;
    justify-content: center;
}

.name-holder {
    display: flex;
    justify-content: space-around;
    font-size: 26px;
    color: rgb(20, 22, 21);
}

.field{
    font-size: 23px;
    color: rgb(20, 22, 21);
}

.name{
    padding: 2px;
}
.surname{
    padding: 2px;
}

.specialization{
    font-size: 20px;
    color: var(--keppel-dark);
    padding: 2px;
}

#row:hover {
    background-color: var(--keppel-light);
}

.input-dark{
    background-color: var(--keppel-light);
    width: 300px;
    font-size: 20px;
}
   
.input-dark::placeholder{
    color: white;
}

.input-dark:focus{
    border-color: white;
    border-width: 2px;
    color: white;
}

.row-header{
    font-size: 22px;
    
}
.edit-accept{
    background-color: var(--keppel);
}
.edit-close{
    background-color: var(--danger);
}
  