<div class = "box column">
    <div class = "h-font">Log In</div>
    <div class="card">
        

    <form>
        <div class="label">Username</div>
        <div class="input"><input type="text" class="input-dark" placeholder="e-mail" [(ngModel)] = "username"/></div>
        <div class="label">Password</div>
        <div class="input"><input type="password" class="input-dark" placeholder="password" [(ngModel)] = "password"/></div>
        <button class="btn-green" (click) = "Login()">Log In</button>
    </form>
             
    </div>  
</div>