.profile{
    background-color: var(--dark-accent);
    color: var(--light);
    width: 40%;
    display: flex;
    padding: 25px;
    margin: 20px;
    font-size: 24px;
}

.image{
    width: 400px;
    border-radius: 40px;
    border-bottom: solid 10px var(--light);
    border-top: solid 10px var(--light);
    border-left: solid 4px var(--keppel-light);
    border-right: solid 4px var(--keppel-light);
    padding: 13px;
}

.image-holder{
    padding: 50px;
    position: relative;
}

.fullname{
    font-size: 33px;
    padding: 2px 15px 15px 15px;
    color: var(--keppel-light);

}

.name, .surname, .email, .phone{
    padding: 7px;
}
.email-holder, .phone-holder{
    
}
.edit-image{
    background-color: var(--keppel);
}
.edit{
    background-color: var(--keppel);
}

.button-container-image{
    position: absolute;
    bottom: 88px;
    right: 88px;
}
.button-container{
    color: var(--light);
    
}

.main{
    margin: 55px;;
}

.mycheckuptypes{
    background-color: var(--keppel);
}
.allcheckuptypes{
    background-color: var(--light-accent);
}
.mycheckuptypes, .allcheckuptypes{
    color: var(--light);
    width: 350px;
    display: flex;
    padding: 25px;
    margin: 20px;
    font-size: 24px;
}

.h2-font{
    padding: 20px;
    line-height: 1.2;
}

.checkup-card{
    padding: 5px;
    margin:2px;
    border: solid 2px var(--light);
    border-radius: 15px;
}

.checkup-card-form{
    background-color: var(--dark-accent);
    padding: 5px;
    margin: 17px 4px;
}

.checkup-card-form-clicked, .checkup-card-form:hover{
    margin: 17px 0px;
    background-color: var(--dark-accent-light);
}
.checkup-card-form-clicked{
    border: solid 3px var(--keppel-light)
}
.checkup-field{
    padding: 4px;
}
.demo-inline-calendar-card {
  width: 300px;
}

.input-dark{
    width: 100%;
    padding: 8px;
}

.time{
    padding: 15px;

}

.hours, .minutes{
    padding: 5px;
}
@media  (max-width: 640px) {
    .profile {
        width: 95%;
    }

    .main {
        margin: 50px 0px 50px 0px;
    }
    
    .h2-font{
        font-size: 27px;
        padding: 8px;
    }

    .image{
        width: 300px;
    }
}
@media  (max-width: 1275px) {
    .main {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .profile{
        width: 600px;
        
    }

}@media  (max-width: 775px) {
    .checkuptypes{
        flex-direction: column;
        justify-items: center;
    }

}