<div class = "background">
    <div class = "box column background-overlay">
     
        <div class = "h-font">Registracija Doktora</div>
        <div class="card">
            
    
        <form>
            <div class="label">Korisnicko ime</div>
            <div class="input"><input type="text" class="input-dark" placeholder="username" name = "username" [(ngModel)] = "username"/></div>
            <div class="label">Email</div>
            <div class="input"><input type="text" class="input-dark" placeholder="email" name = "slika" [(ngModel)] = "email"/></div>
            <div class="label">Lozinka</div>
            <div class="input"><input type="password" class="input-dark" placeholder="password" name = "email" [(ngModel)] = "password"/></div>
            <div class="label">Potvrda lozinke</div>
            <div class="input"><input type="password" class="input-dark" placeholder="confirm password" name = "password" [(ngModel)] = "cpassword"/></div>
            <div class="label">Ime</div>
            <div class="input"><input type="text" class="input-dark" placeholder="firstname" name = "cpassword" [(ngModel)] = "name"/></div>
            <div class="label">Prezime</div>
            <div class="input"><input type="text" class="input-dark" placeholder="lastname" name = "name" [(ngModel)] = "surname"/></div>
            <div class="label">Telefon</div>
            <div class="input"><input type="text" class="input-dark" placeholder="phone" name = "surname" [(ngModel)] = "phone"/></div>
            <div class="label">Profilna slika</div>
            <div class="input"><input type="file" class="file-input-dark" placeholder="image" name = "phone" (change)="onFileChange($event)"/> <img *ngIf = "imageUrl" class="file-input-image" [src]="imageUrl"></div>
            <div class="label">Informacije o doktoru</div>
            <div class= "input-doctor">
                <div class="label">Broj Licence</div>
                <div class="input"><input type="text" class="input-dark" placeholder="license" name = "license" [(ngModel)] = "license"/></div>
                <div class="label">Specijalizacija</div>
                <div class="input">
                    <select class = "select-dark" [(ngModel)] = "specialization">
                        <option *ngFor="let spec of specializations" value = "spec.name">{{spec.name}}</option>
                    </select>
                </div>
                <div class="label">Odeljenje</div>
                <div class="input"><select class = "select-dark" [(ngModel)] = "department">
                    <option *ngFor="let dep of departments" value = "dep.name">{{dep.name}}</option>
                </select></div>
            </div>

            <button class="btn-green" name = "register" (click) = "Register()">Register</button>
            <p class= "message">{{message}}</p>
        </form>
                 
        </div>  
    </div>
    </div>