
/* Styling for the carousel images */

.picsum-img-wrapper {
  
 /* height: 600px; *//* Adjust the height as needed */
 
}

.picsum-img-wrapper img {
 
}

/* Styling for the carousel captions */
.carousel-caption {
 
}

.carousel-caption h3 {
  font-size: 45px;
  margin-bottom: 40px;
}

.carousel-caption p {
  font-size: 25px;
  margin-bottom: 32px;
}
.carousel-inner {
  
}