/* 

40AB88 - Keppel - Main Brand
7787A3 - Bermuda Gray - Light Accent
F4F7F5 - Desert Storm - Light Shades
B14057 - HippiePink - Dark Accent
323438 - Shark - Dark Shades

*/

:root {
    --keppel: #33BB92;
    --light-accent: rgb(209, 182, 225);
    --dark-accent: #0087b6;
    --dark-shade: #AECFC6;
    --light-shade: rgb(247, 248, 248);

    --keppel-light: #7de1c3;
    --keppel-dark: #196d54;
    --dark-shark: #202123;

    --dark-accent-light: #14a9db;
    --dark-accent-dark: #045b79;


    --info: #adcbc4;
    --success: #47b266;
    --warning: #c4a22e;
    --danger: #f44336;

    --light: #F7F8F8;
    --light-grey: #d3d5d5;
    --dark: #1e1f21;
    --dark-grey: #383a3d;
  }

.card {
    border-radius: 6px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

body {
    font-family: "Catamaran";
    font-size: 14px;
    line-height: 1.42857143;
    color: var(--dark);
    background-color: var(--light);
    margin: 0px;
}

.background{
    background-image: url('assets/details/tile.png');
    background-size: 300px 300px;
    background-repeat: repeat;
}

.background-overlay{
    background-color: rgb(247, 248, 248, 0.4);
}

.basic-font{
    font-family: "Catamaran";
    font-size: 18px;
}

.h-font{
    font-family: "Montserrat";
    font-size: 48px;
}

.h2-font{
    font-family: "GentiumPlus";
    font-size: 32px;
}

.fill-dark, .fill-light, .fill-primary, .fill-highlight1, .fill-highlight2, .fill-light-secondary, .fill-dark-secondary {
    transition: background-color 1s;
}

.col {
    display: inline-block;
    padding: 0.25rem;
    width: 100%;
}

.content {
    padding: 15px !important;
}

.row.masonry {
    -moz-column-width: 24em;
    -webkit-column-width: 24em;
    -moz-column-gap: 1.5em;
    -webkit-column-gap: 1.5em;
    margin: 0;
}

body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4 {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 300;
    line-height: 1.5em;
}

.column {
    display: flex;
    flex-direction: column;
}
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.flex {
    display: flex;
}
.flex-column {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.flex-center {
    display: flex;
    justify-content: center;
}

/* Dugmad */

.btn-green{
    padding: 15px 18px;
    text-align: center;
    border-radius: 4px;
    font-size: 18px;
    background-color: var(--keppel);
    color: var(--light);
    will-change: box-shadow, transform;
    border: none;
}

.btn-green:hover{
    background-color: var(--keppel-light);
}

/* Inputi */

/*Obican input*/
.input-dark{
    border: var(--light-shade) solid 2px;
    background-color: rgb(0, 0, 0, 0);
    border-radius: 15px;
    outline: none;
    padding: 10px 15px;
    font-size: 16px;
    transition: box-shadow 0.3s;
    color: var(--light-shade);
}
  
.input-dark:focus {
    background-color: rgb(255, 255, 255, 0.1);
    border: var(--light-grey) solid 2px;
}
.input-dark::placeholder {
    color: var(--light-grey);
}

/*Selekt input*/
.select-dark {
    border: var(--light-shade) solid 2px;
    background-color: rgb(209, 182, 225, 0.1);
    border-radius: 15px;
    outline: none;
    padding: 10px 15px;
    font-size: 16px;
    transition: box-shadow 0.3s;
    color: var(--light-shade);
    width: 100%;
}

.select-dark:focus {
    background-color: rgb(209, 182, 225, 0.1);
    border: var(--light-grey) solid 2px;
}

.select-dark::placeholder {
    color: var(--light-grey);
}

.select-dark option {
    color: var(--light);
    background-color: var(--dark-accent);
    padding: 2px;
    border-radius: 0px, 0px, 3px, 3px;
    height: 50px;
}

.select-dark option:hover {
    background-color: var(--dark-accent);
}


/* Fajl input */
.file-input-dark::-webkit-file-upload-button {
    visibility: hidden;
}
.file-input-dark::before {
    content: 'Izaberite sliku';
    display: inline-block;
    background-color: rgb(209, 182, 225, 1);
    border-radius: 15px;
    outline: none;
    white-space: nowrap;
    padding: 15px 18px;
    text-align: center;
    border-radius: 4px;
    font-size: 18px;
    color: var(--light);
    will-change: box-shadow, transform;
    border: none;
}
.file-input-dark:hover::before {
    background-color: rgb(221, 200, 233);
}
.file-input-dark:active::before {
    background-color: rgb(207, 169, 229);
}
.file-input-image{
    padding: 12px;
    border-radius: 5px;
    width: 150px;
}


.box{
    min-height: 600px;
}

.message{
    color: var(--danger)   
}


@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
    src: local('Material Icons'),
      local('MaterialIcons-Regular'),
      url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
      url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
      url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
  }
  

  .material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1.5;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
  }