<div class = "background">
    <div class = "box column background-overlay">
     
        <div class = "header-row flex-center flex-column">
            <h1 class="h-font"> Dobrodošli na Ordinacija Vitality!</h1>
            <div class= "card opis flex-center">
                Na ovoj stranici možete
                <ul>
                    <li class = "opis-li"> Saznati informacije o klinici</li>
                    <li class = "opis-li"> Videti sve lekare na klinici</li>
                    <li class = "opis-li"> Zakazati preglede</li>
                    <li class = "opis-li"> Videti poslednja obaveštenja klinike</li>
                    <li class = "opis-li"> Pratititi rezultate vaših pregleda</li>
                    <li class = "opis-li"> I još mnogo toga</li>
                </ul>
            </div>
        </div>
        <div class="carusel-row flex-center">
            <div class="carusel">
                <ngbd-carousel-basic></ngbd-carousel-basic>
            </div>
        </div>        
     
    </div>
</div>